body {
  background: white;

}
h1 {
  font-size: 3em;
  color: black;
  text-align: center;
}

h2 {
  color: black;
  font-size: 3em;
  text-align: center;
  clear: both;
}

.Galaxy {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    margin-top: 35px;
}
#logo {
  float: left;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

p {
  color: black;
  /*text-align: center;*/
}

.aboutmediv {
  height: 300px;
  width: 500px;
  margin-left:  auto;
  margin-right: auto;
}

.BR {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;

}
